.giua{
    text-align: center;
}
.phai{
    text-align: right;
}
a:link{
    color:red
}
a:visited{
    color :blue   
}
a:hover {
    color: black;
  }
  
  
a:active {
    color: blue;
}
ul::first-letter{
    font-size: 40;
    color: brown;
}